.suggestionsContainer {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
    width: 80%;
    margin-top: 50px;
    padding: 20px 25px;
    display: block;
    background-color: #ffffff;
    z-index: 9;
    @media screen and (max-width: 500px) {
       display: none;
    }
}
.latestTrendsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.popularSuggestionsLabel {
    margin-bottom: 20px;
    font-weight: 600;
}

.latestTrendsLabel {
      font-weight: 600;
}

.suggestionItem {
    margin-bottom: 10px;
    cursor: pointer;
}