* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchFilterResultContainer {
  display: flex;
  gap: 50px;
  align-items: start;
  width: 97%;
  margin: 50px auto 0 auto;
}

.searchResultsLabel {
  font-size: 40px;
  font-weight: 100;
  width: 97%;
  margin: 50px auto 0 auto;
} 