@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.searchFilterResultContainer {
  display: flex;
  gap: 50px;
  align-items: start;
  width: 97%;
  margin: 50px auto 0 auto;
}

.searchResultsLabel {
  font-size: 40px;
  font-weight: 100;
  width: 97%;
  margin: 50px auto 0 auto;
} 

.brandLogo {
  position: absolute;
  right: 20px;
  top: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 110px;
}